/* Button.module.css */
.button {
  border: none;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  height: 58px;

  color: #fff;
  font-family: EF_jejudoldam;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  transition: all 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* 사이즈 */
.size_very_small {
  width: 106px;
  height: 38px;
  font-size: 11.925px;
}

.size_small {
  width: 140px;
  height: 58px;
  font-size: 18x;
}

.size_medium {
  width: 252px;
  height: 58px;
  font-size: 18px;
}

.size_large {
  width: 100%;
  height: 58px;
  font-size: 16px;
}

/* 색상 */
.variant_primary {
  background: #99c08e;
  color: #fff;
}

.variant_secondary {
  background: #999;
  color: #fff;
}

.variant_gray {
  background: #ddd;
  color: #818181;
}

.shape_circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  padding: 0;
  box-shadow: none;
}

.shape_circle.size_small {
  width: 48px;
  height: 48px;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
