.createContainer {
  box-sizing: border-box;
  max-width: 696px;
  padding: 24px 24px 40px 24px;
  border-radius: 20px;
  background: #fff;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 100px;
}

.createBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.createBox p {
  margin-bottom: 16px;
  color: var(--black-black_414141, #414141);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.createBox h2 {
  color: #414141;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-gap: 16px;
}

.imageGrid img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageGrid input[type='radio'] {
  display: none;
}

input[type='radio']:checked + img {
  border: 2px solid var(--red-error_C41013, #c41013);
}

.formField {
  position: relative;
}

.errorMessage {
  position: absolute;
  top: 104%;
  color: var(--red-error_C41013, #c41013);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.charCount {
  position: absolute;
  top: 104%;
  right: 2%;
  color: var(--black-black_414141, #414141);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 744px) {
  .createContainer {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    width: calc(100% - 32px); /* 양옆 16px씩 여백 */
  }
  .imageGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 375px) {
  .createContainer {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    width: calc(100% - 32px);
  }
  .imageGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
