.gnb {
  width: 100%;
  background-color: #f6f4ef;
  position: sticky;
  top: 0;
  z-index: 100;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner img {
  height: 48px;
}

.btn {
  white-space: nowrap;
  text-decoration: none;
  width: 252px;
  height: 48px;
}

.btn button {
  height: 100%;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .inner {
    padding: 10px 24px;
  }

  .logo img {
    height: 36px;
  }

  .btn {
    width: 160px;
    height: 36px;
  }

  .btn button {
    border-radius: 14px;
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .inner {
    padding: 8px 16px;
  }

  .logo img {
    height: 28px;
  }

  .btn {
    width: 106px;
    height: 28px;
  }

  .btn button {
    font-size: 12px;
    border-radius: 8px;
  }
}
