button {
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}
.recentSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  width: 100%;
  border-radius: 20px;
  background: #fff;
  gap: 30px;
}
.title {
  color: var(--color-black, #414141);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.recentStudiesArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 243px;
}

.studyCardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  overflow: hidden;
}
.recentStudyCardGrid {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
  user-select: none;
}
.recentStudyCardGrid:active {
  cursor: grabbing;
}
.recentStudyCardGrid::-webkit-scrollbar {
  display: none;
}

.studyCard {
  text-decoration: none;
  color: inherit;
  padding: 30px;
  position: relative;
  flex: 0 0 auto;
  width: 358px;
  height: 243px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.studyCard::before {
  pointer-events: none;
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}
.studyInfoBox {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.studyInfo {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.studyCardTopBox {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.studyTitleBox {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.studyTitle {
  color: #fff;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.daysCount {
  color: #eee;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.studyDescription {
  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.reactionBox {
  display: flex;
  gap: 5px;
}
.text {
  color: var(--color-gray, #818181);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.studiesSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  min-height: 822px;
  border-radius: 20px;
  background: #fff;
  padding: 40px;
}
.filterBar {
  display: flex;
  justify-content: space-between;
}
.searchBar {
  display: flex;
  padding: 12px 20px;
  width: 335px;
  height: 42px;
  align-items: center;

  gap: 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  background: #fff;
}
.searchBar img {
  width: 18px;
  height: 18px;
}
.search {
  border: none;
  width: 100%;
}
.search:focus {
  outline: none;
}
.studiesArea {
  display: flex;
}
.studyCardArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.moreBtn {
  width: 280px;
  height: 53px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: #fff;
  color: #578246;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.emptyStudiesArea {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 688px;
}
.studyContent {
  min-height: 688px; /* empty랑 동일 기준으로 고정 */
}
@media (max-width: 1200px) {
  .recentSection,
  .studiesSection {
    width: 95%;
  }

  .studiesArea {
    justify-content: center;
  }
  .studyCardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .studyCardGrid .studyCard {
    width: 312px;
  }
}

@media (max-width: 767px) {
  .recentStudyCardGrid .studyCard {
    width: 240px;
    height: 180px;
    padding: 16px;
  }
  .recentStudyCardGrid {
    display: flex;
    gap: 16px;
  }
  .studiesArea {
    justify-content: center;
  }
  .studyCardTopBox {
    gap: 4px;
  }
  .studyTitleBox {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 6px;
  }
  .studyTitle {
    font-size: 16px;
  }
  .daysCount {
    font-size: 12px;
  }
  .studyDescription {
    font-size: 14px;
  }
  .studyInfo {
    min-height: fit-content;
    gap: 12px;
  }
  .studyInfoBox {
    gap: 11px;
  }
  .recentSection {
    gap: 16px;
    padding: 16px;
    height: 260px;
  }
  .title {
    font-size: 16px;
  }

  .studyCardGrid {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .studyCardGrid .studyCard {
    width: 312px;
    height: 180px;
    padding: 16px;
  }
  .studyCardArea {
    gap: 30px;
  }
  .filterBar {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
  .studiesSection {
    gap: 16px;
  }
  .searchBar {
    width: 100%;
  }
}
